@CHARSET "UTF-8";
.title{
	color: rgb(31, 34, 112);
	text-align: center;
	margin-top: 9px;
	border-bottom: solid 1px #000;
}
.sub-title{
	color: rgb(22, 42, 93);
	text-align: center;
	margin-top: 15px;
	font-size: 16px;
	border-bottom: solid 1px #000;
}
.planets-table{
	width: 100%;
	border-collapse: collapse;
}
.planets-table tr{
	text-align: center;
}

.planets-alignment-table{
	width: 100%;
	margin-top: 20px;
	border-collapse: collapse;
}
.planets-alignment-table tr th{
	border-bottom: solid 1px;
}
.planets-alignment-table tr{
	text-align: center;
}
/* Planets Orbit */
#orbitContainer{
	width: 100%;
	height: 450px;
}
.planet:after,.star:after {
  content:"";
  position:absolute;
  width:15px;
  height:15px;
  border-radius:50%;
  transform-origin:center;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
.planet,.star{
  position:absolute;
}

#sun {
  transform-origin:center center;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
#sun:after {
  transform-origin:center center;
  background: radial-gradient(circle, #FCFC14, #FF7700);
  box-shadow: 0px 0px 40px #FF7700;
  margin:auto;
  width:30px;
  height:30px;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
#ferengi {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation:planetMove 1s linear infinite;
}
#ferengi:after {
  top:5%;
  left:5%;
  background: radial-gradient(circle, #5DF505, #114FFA);
}
#ferengiOrbit {
  width: 350px;
  height: 350px;
  animation:spinnerRotate 1s linear infinite;
	animation:spinnerRotate 1s linear infinite;
}
#vulcanos {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation:planetMove 1s linear infinite;
}
#vulcanos:after {
  top:250px;
  left:250px;
  background: radial-gradient(circle, #FA9911, #69410A);
}
#vulcanosOrbit {
  width: 280px;
  height: 280px;
  animation:spinnerRotate 1s linear infinite;
	animation:spinnerRotate 1s linear infinite;
}
#betasoide {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation:planetMove 1s linear infinite;
}
#betasoide:after {
  top:150px;
  left:150px;
  background: radial-gradient(circle, #DB9969, #69462E);
}
#betasoideOrbit {
  width: 210px;
  height: 210px;
  animation:spinnerRotate 1s linear infinite;
	animation:spinnerRotate 1s linear infinite;
}
@keyframes planetMove {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
@keyframes spinnerRotate {
  0% {transform : rotate(0deg)}
  100% {transform : rotate(360deg)}
}